body{ 
    background-image: url(https://cdn.pixabay.com/photo/2017/08/10/08/26/stars-2619979_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    overflow: hidden;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    background-image: "{% static 'images/stars.jpg' %}";
    height:100%;
} 

.tomysky{
    position: absolute;
    top: 25%;
    left: 45%;

    background-image: url("../img/moon.png");
    background-repeat: no-repeat;
    background-size: 250px 250px;
    height: 250px;
    width: 250px;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border-radius: 10pt;
}
/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 55%;
  text-align:center;
  border-radius:30pt;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#star{
    display: flex;
}

.star{
    position: absolute;
}

.star:hover{
  cursor: pointer;
}

.cloud{
    position:absolute;
}
.cloud:hover{
    cursor:pointer;
}
/*타이틀*/
.title{
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 40px;
}

/*글쓰기 버튼*/

.new{
    position: absolute;
    top: 25px;
    right: 150px;
    height: 70px;
    width: 70px;
    background-image: url("../img/newStar.png");
    background-size: 70px 70px;
    background-repeat: no-repeat;
}

.new:hover #myBtn{
    opacity: 1;
}

#myBtn{
    position: absolute;
    background-color: transparent;
    border: none;
    width: 70px;
    height: 70px;
    color: black;
    font-size: 15px;
    cursor: pointer;
    opacity: 0;
}

/*=========================== MENU css ========================*/
.menu{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 70px;
    width: 70px;
    display: flex;
    cursor: pointer;
}

.menu:hover .full-moon{
    opacity: 1;
}

.crescent{
    margin-left: auto;
    position: absolute;
    top: 17px;
    right: 60px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    box-shadow: 10px 10px 0 0 bisque;
}

.full-moon{
    margin-left: auto;
    position: absolute;
    top: 27px;
    right: 50px;
    height: 70px;
    width: 70px;
    border-radius:50%;
    opacity: 0;
    background-color: bisque;
    transition: all 1000ms ease;
}

.full-moon.active{
    opacity:1;
}

#menu{
    position: relative;
    top: 25px;
    right: -18px;
    font-size: 20px;
    color: rgb(93, 85, 131);
}

.menu-open{
    position: absolute;
    top: 120px;
    right:0px;
    height: 500px;
    width: 0px;
    border-radius: 1rem 0 0 1rem;
    background-color: rgb(93, 85, 131);
    z-index:1;
    transition: all 1000ms ease-in-out;
    opacity: 0;

    padding: 30px;
    text-align: center;
}

.menu-open.active{
    opacity: 1;
    width: 250px;
    background-color: rgb(68, 50, 77);
}

.user center{
    font-size: 50px;

}

.option{
    font-size: 25px;
    margin: 20px;
}

.option:hover{
    color: black;
}

a{
    text-decoration: none;
    color: white;
}
/*===================end of menu css===================*/

