<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="menu">
            <div class="crescent"></div>
            <div class="full-moon"><div id="menu">메뉴</div></div>
    </div>
    <div class="menu-open">
        <div class="user">
            <center>{{user.username}}</center><br>
            <a href="{% url 'user_update' %}">마이 페이지</a>
            <hr><br>
        </div>
        <div class="option"><form action="{% url 'mysearch' %}" method="POST">{% csrf_token %}
                <input name="word" type="search" placeholder="Search">
                <button type="submit">검색</button>
            </form>
        </div>
        <div class="option">
                <a href="{% url 'mysky' %}">내 밤하늘로</a>
            </div>
        <div class="option">
            <a href="{% url 'realmain' %}">홈으로</a>
        </div>
        <div class="option">
            <a href="{% url 'logout' %}">로그아웃</a>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    <script>
        var menu = document.querySelector(".menu");
        var open = document.querySelector(".menu-open");
        var moon = document.querySelector(".full-moon");

        menu.addEventListener('click', function(){
            moon.classList.toggle('active');
            open.classList.toggle('active');
        })
    </script>
</body>
</html>
