{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="option">
    <form action="{% url 'mysearch' %}" method="POST">{% csrf_token %}
        <input name="word" type="search" placeholder="" id="search">
        <button type="submit" id="search-btn">검색</button>
    </form>
</div>

<style>
    .hi{position: relative; top:450px;  text-align:center;}
</style>



<div id="reselect"><a href="{% url 'main'%}">감정 다시선택하기</a></div>

<!--<div class=hi>
<h3>반갑습니다, {{user.username}}님!</h3>
</div>-->
<div id="moon"><a href="{% url 'mysky' %}"><img src="{% static 'img/moon.png' %}" id="moon-img"></a></div>
{% for post in posts %}
    {% if post.image == "star" %}
        <div class="star" id="1">
            <img src="{% static 'img/star.png' %}" style="width:110px; height:110px;">
        </div>
    {% else %}
        <div class="cloud" id="1">
            <img src="{% static 'img/cloud.png' %}" style="width:120px; height:80px;">
        </div>
    {% endif %}
    <script>
    

        if(document.getElementById("1")){
            test();
        }
        function test(){
            var str1 = Math.round(Math.random()*800);
            var str2 = Math.round(Math.random()*1800);
            document.getElementById("1").style.top = str1+'px';
            document.getElementById("1").style.left = str2+'px';
            document.getElementById("1").setAttribute("id", "2");
        }

       
    </script>
    
{% endfor %}
{% endblock %}

