<style>
.main{
    text-align:center;
}
  
</style>



<h1 style="text-align:center; font-size:80pt;">공감의 밤하늘</h1>

{% if user.is_authenticated %}
    <h3>{{user.username}}님 로그인 되어 있습니다. </h3>
    <h3>로그아웃 하시겠습니까?</h3>
    <button type="button" onclick="location.href='{% url 'logout' %}'">로그아웃</button>
    <h3>밤하늘로 이동하시겠습니까?</h3>
    <button type="button" onclick="location.href='{% url 'main' %}'">밤하늘로</button>
{% else %}
    <div class="main">
        <form method="POST" action="{% url 'login' %}">{% csrf_token%}
            <input name="username" placeholder="id" type="text" required><br><br>
            <input name="password" placeholder="password" type="password" required><br><br>
            <button type="submit">login</button>
        </form>
        <button type="button" onclick="location.href='{% url 'register' %}'">회원가입</button>
    </div>
{% endif %}
