{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<style>
    @font-face { font-family: 'UhBeemysen'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeemysen.woff') format('woff'); font-weight: normal; font-style: normal; }
 .title{ position:relative; left: 700px; font-family: 'UhBeemysen'; font-size: 50pt;}
 .modal-content label{
     cursor: pointer;
 }
 .modal-content label input{
     display: none;
 }
 .modal-content label span{
     position:relative;
     display: inline-block;
     border: 1px solid black;
     border-radius: 20pt;
     text-align:center;
     color: black;
     width:100px;
     height:50px;
 }
 .modal-content label input:checked~span{
     border:1px solid white;
     background: #2a346d;
     color:white;
 }
 .happy:hover{
     background: #fffacd;
 }
 .funny:hover{
     background: #fffacd;
 }
 .sad:hover{
     background: #fffacd;
 }
 .angry:hover{
     background: #fffacd;
 }
 .stress:hover{
     background: #fffacd;
 }
 .guitar:hover{
     background: #fffacd;
 }
 textarea{
     width:90%;
     resize:none;
 }

.modal-content label input .ima{

}

.edit{
    display: flex;
    justify-content: center;
}
</style>
<script>
var te=new Array();
var pk;
</script>
<div class="title">{{user.username}}님의 밤하늘</div>
<div class="new">
    <input id = "myBtn" type = "button" onclick="get()" value="글 추가">
</div>

<div id ="star" style = "width: 100%; height:100%;">
    {% for post in posts %}
        {% if post.image == "star" %}        
            <div class="star" id="1">
                <div class="update" name="{{post.id}}" >
               
                <img src="{% static "img/star.png" %}" style="width:110px; height:110px;" onclick="modalfunc();">
                
                </div>
            </div>
        {% else %}
            <div class="cloud" id="1">
                <div class="update" name="{{post.id}}" >
                    
                    <img src="{% static "img/cloud.png" %}" style="width:120px; height:80px;" onclick = "modalfunc();">
                    
                </div>
            </div>
        {% endif %}
        <script>
        var id={{post.pk}};
        var b="{{post.body}}";
        te[id]=b;
        if(document.getElementById("1")){
            test();
        }
        function test(a){
            var str1=Number({{post.lat}})-60;
            var str2=Number({{post.lng}})-60;
            var c=document.getElementById("1");
            c.style.top=str1+'px';
            c.style.left=str2+'px';
            document.getElementById("1").setAttribute("id", "2");
            //document.getElementById("1").setAttribute("class", "star");
        
        }
        </script>
    {% endfor %}

</div>

<div id="postmodal" class="modal">
    <div class="modal-content">
            <span class="close">&times;</span>
            <!--<form method="POST">{% csrf_token %}-->
            <div id = "modalbody">
                <textarea rows="17" id="textbody" value="" required></textarea>
            </div>
            <div class="edit">
                <div class="change">
                    <input type="button" value="수정하기">
                </div>
                <div class="delete">
                    <input type="button" value="삭제하기">
                </div>
            </div>
            <!--</form>-->
    </div>
</div>

<div id="myModal" class="modal">

  <div class="modal-content">
    <span id="close" class="close">&times;</span>
    <form method="POST" action="{% url 'mysky' %}">
            {% csrf_token %}
            <br><br>
            
            <textarea rows="17" name="body" placeholder="내용" required></textarea><br><br>
            <input type="radio" name="im" class="ima" value="star" required><span style="color:black; font-size:30px">별</span>
            <input type="radio" name="im" class="ima" value="cloud" required><span style="color:black; font-size:30px">구름</span>
            <br><br>
            <label>
                <input type="radio"  name="emo" value="행복" required>
                <span class="happy">  행복</span>
            </label>
            <label>
                <input type="radio" name="emo" value="즐거움" required>
                <span class="funny">즐거움</span>
            </label>
            <label>
                <input type="radio" name="emo" value="슬픔" required>
                <span class="sad">슬픔</span>
            </label>
            <label>
                <input type="radio" name="emo" value="화남" required>
                <span class="angry">화남</span>
            </label>
            <label>
                <input type="radio" name="emo" value="스트레스" required>
                <span class="stress">스트레스</span>
            </label>
            <label>
                <input type="radio" name="emo" value="기타" required>
                <span class="guitar">기타</span>
            </label>
            <br><br>
            <input type="hidden" id="x" name="x" value="">
            <input type="hidden" id="y" name="y" value="">
            <input type="submit" id="here" value="Save">
    </form>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
/*글쓰기 위한 modal*/
  var modal = document.getElementById('myModal');
  var btn = document.getElementById("myBtn");
  //var sp = document.getElementsByClassName("close")[0];
  var ssp=document.getElementById("close");
  var w=false;
  var pp1;
  var pp2;
  btn.onclick=function get(){
      alert('화면에 띄울 별이나 구름의 위치를 클릭해주세요');
      w=document.getElementById("star");
      w.onclick=function(e){
          if(w){
              pp1=e.pageX;
              pp2=e.pageY;
              modal.style.display="block";
              w=false;
          }
      };
  };
  ssp.onclick=function(){
      modal.style.display="none";
  };
  window.onclick=function(event){
      if(event.target==modal){
          modal.style.display="none";
      }
  };
  $("#here").click(function(){
      pp1=parseInt(pp1);
      pp2=parseInt(pp2);
      $("#x").val(pp1);
      $("#y").val(pp2);
  });
  /*글 수정 위한 modal*/
  function modalfunc(num)
{
    var postmodal = document.getElementById('postmodal'); 
    postmodal.style.display="block";
    
    var span = document.getElementsByClassName("close")[0];
    span.onclick = function() {
                postmodal.style.display = "none";
    };
    window.onclick = function(event) {
        if (event.target == modal) {
            postmodal.style.display = "none";
        }
    };
}
/*글 갖고오기 위한 ajax*/
$(".update").click(function(){
    pk=$(this).attr('name');
    $.ajax({
        type:"GET",
        url: "post_edit/",
        data: {'pk': pk},
        dataType: "json",
        contentType: "json",
        success: function(msg){
            
            $("#textbody").val(msg['body']);
            //$("#textpk").val(msg['pk']);
            //$("#textdate").val(msg['date']);
        },
        error: function(response){
            alert('fail');
            $("#textbody").html("오류발생");
        }
    })
});
/*글 수정 위한 ajax*/
$(".change").click(function(){
    var content=$('#textbody').val();
    $.ajax({
        type:"POST",
        url:"post_edit/",
        data:{'pk':pk, 'content': content, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        success:function(response){
            alert('글 수정이 완료되었습니다.');
            var postmod = document.getElementById('postmodal'); 
            postmod.style.display="none";
        },
        error:function(response){
            alert('fail2');
        }
    })
});
/*글 삭제 위한 ajax*/
$(".delete").click(function(){
    $.ajax({
        type:"GET",
        url:"post_delete/",
        data:{'pk':pk},
        success:function(response){
            alert('글 삭제가 완료되었습니다.');
            location.href="{% url 'mysky' %}"
        },
        error:function(response){
            alert('fail3');
        }
    })
});

  /*별 반짝임과 별똥별 효과*/
  class Star{
      constructor(targetStar){
          this.targetStar = targetStar;
          this.repeat;
      }
      
      shine(){  /*별 반짝임 함수*/
          var $element = this.targetStar;
          var time = Math.random()*(3000)+2000;
          this.repeat = setInterval(function () {
              $element.fadeIn(1000, function () {
                  $element.fadeOut(1500, function () {
                  $element.fadeIn(1000)
                  });
              });
          }, time); 
      }
      shootingStar(){  /*별똥별 효과*/
          clearInterval(this.repeat);  /*반짝임 멈춤*/
          this.targetStar.fadeIn(1000, this.tail());  /*꼬리*/
          var t = parseInt(this.targetStar.css('top'),10);
          var l = parseInt(this.targetStar.css('left'),10);
          var max_t = (700-t)/50-2;
          var max_l = (document.body.clientWidth-l)/50-2;
          var max = max_t<max_l?max_t:max_l;
          for(var j=0; j<max; j++){  /*떨어지는 효과*/
              this.fall();
          }
          this.targetStar.fadeOut(2000, function(){
              $('#tailSky').remove();
              $(this).remove();
          })
      }
      fall(){  /*떨어지는 모션*/
          $(this.targetStar).animate({
          left: '+=50',
          top: '+=50'
          }, 400, 'linear', function(){
              ;
          });
      }
      tail(){  /*꼬리 추가*/
          this.targetStar.append('<div id="tailSky"></div>');
          $("#tailSky").append('<div id="tail"></div>');
      }
  
  }
  /*star div 마다 Star 객체 만들어서 반짝임&별똥별 효과 줌*/
  var len = $('.star').length;
  var starObjs = new Array();
  for(var i=0; i<len; i++){
      starObjs[i] = new Star($('.star').eq(i));
      starObjs[i].shine();
  }
  
</script>
{% endblock %}