<style>
    body{ 
        background-image: url(https://cdn.pixabay.com/photo/2017/08/10/08/26/stars-2619979_1280.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;}
</style>


<a href="{% url 'main'%}">감정 다시선택하기</a>
<h3>반갑습니다, {{user.username}}님!</h3>

<button type="button" onclick="location.href='{% url 'logout' %}'">로그아웃</button>

<a href="{% url 'mysky' %}">달(개인 밤하늘로 이동)</a>
{% for posts in post %}
    <div id="1" style="position:absolute;">
        {{posts.author}}<br>
    </div>
    <script>
      

        if(document.getElementById("1")){
            test();
        }
        else{
            test2();
        }
        function test(){
            var str1 = Math.round(Math.random()*800);
            var str2 = Math.round(Math.random()*1800);
            document.getElementById("1").style.top = str1;
            document.getElementById("1").style.left = str2;
            document.getElementById("1").setAttribute("id", "2");
        }
        function test2(){
            var str3 = Math.round(Math.random()*800);
            var str4 = Math.round(Math.random()*1800);
            document.getElementById("2").style.top = str3;
            document.getElementById("2").style.left = str4;
            document.getElementById("2").setAttribute("id", "1");
        }
    </script>
{% endfor %}
